.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.content {
  padding: 40px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    line-height: 22px;
    font-size: 14px;

    b {
      margin: 0 10px 0 0;
      text-transform: capitalize;
    }
  }
}