$border-color: #000;

.repoList {
  ul {
    display: flex;
  }

  li {
    flex: 1;
    text-align: center;
    border: solid 1px $border-color;
    border-left-width: 0px;
    text-transform: uppercase;
    background: #2b2b2b;
    padding: 0 8px;

    &:first-child {
      border-left-width: 1px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}